*{
    
    
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 200;
    font-style: normal;


}
body{
    background-color: rgba(0, 0, 0, 0.801);
}
main{
    text-align: center;
    
}

button{
    background-color: rgb(145, 148, 0);
    padding: 10px;
    font-size: 23px;
}
button:hover{
    background-color: rgb(201, 201, 16);
}
legend{
    animation-duration: 3.5s;
    animation-name: slidein;

}

@keyframes slidein{
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}