*{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(58, 42, 42);
    color: white;
}

header{
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}

p{
    font-size: 20px;
}

body{
    text-align: center;
   
}

button{
    padding: 10px;
    width: 200px;
    text-align:center;
    font-size: 2rem;
}
button:hover{
    background-color:rgb(143, 141, 141);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 1em;
    margin-top: 8rem;
}



.TheCount{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin: 10px;
    width: 65%;
    margin: 50%;
    margin: 50px auto 0 auto;
    font-size: 15px;
}

#diceCount{
    padding: 5px;
}



.part2{
    margin-top: 18rem;
}

/* DICE */

.diceContainer{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 200px;
    height: 200px;
    margin: 40px auto;
    perspective: 600px;
}

.cube{
    
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s;
    margin: 20px auto;
}

.face{
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}


.rotate{
    animation: rotate 1s linear infinite;
}

.front{ transform: rotateY(0deg) translateZ(50px);}
.back{ transform: rotateY(180deg) translateZ(50px);}
.right{ transform: rotateY(90deg) translateZ(50px);}
.left{ transform: rotateY(-90deg) translateZ(50px);}
.top{ transform: rotateX(90deg) translateZ(50px);}
.bottom{ transform: rotateX(-90deg) translateZ(50px);}


.dot {
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
}


.dot-center {grid-column: 2; grid-row: 2;}
.dot-top-left {grid-column: 1; grid-row: 1;}
.dot-top-right {grid-column: 3; grid-row: 1;}
.dot-bottom-left {grid-column: 1; grid-row: 3;}
.dot-bottom-right {grid-column: 3; grid-row: 3;}
.dot-center-left {grid-column: 1; grid-row: 2;}
.dot-center-right {grid-column: 3; grid-row: 2;}

@keyframes rotate{
    from{
        transform: rotateY(0deg) rotateY(0deg);
    }

    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

