*{
    background-color: rgb(255, 255, 255);
}
main{
    text-align: center;
    
}

.games{
    display: flex;
    padding: 5px;
    margin: 10px;
    justify-content: center;
}
.games-list{
    display: flex;
}

@media screen and (max-width: 960px) {
    .games-list{
    display: grid;
   
}
}
