
header{
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}
p{
    font-size: 20px;
}

body{
    text-align: center;
    background-color: beige;
   
}
#timer1, #timer2{
    font-size: 3rem;
    white-space: nowrap;
    

    
}
select{
    padding: 10px;
    width: 450px;
    font-size: 2rem;
}
button{
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 2rem;
}
button:hover{
    background-color:rgb(143, 141, 141);
}

.player1, .player2{
    margin: 20px;
    padding: 10px;
    background-color: rgba(5, 3, 1, 0.582);
    color: white;
}

.active-turn{
    background-color: rgba(230, 1, 1, 0.781);
    color: white;
}

.chess-clock{
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: rgb(161, 79, 25);
    color: white;
    border: 3px solid #000;
    border-radius:  8px;
    width: 65%;
    margin: 50px auto 0 auto;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 1em;
    margin-top: 10rem;
}

@media screen and (max-width: 760px) {
 #StartBtn{
    display: grid;
    padding: 10px;
   
    width: 100%;
   }
   #InitialTime{
    display: grid;
    padding: 10px;
    width: 100%;
   }
   .chess-clock{
    width: 100%;
}
}