*{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    display: flex;
    justify-content: left;
    margin: 10px;
    padding: 10px;
}
p{
    font-size: 20px;
}

body{
    text-align: center;
    background-color: rgb(171, 212, 231);
   
}

button{
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 2rem;
}
button:hover{
    background-color:rgb(143, 141, 141);
}

.theTime{
    padding: 10px;
    margin: 10rem;
}

input{
    padding: 10px;
    width: 450px;
    font-size: 2rem;
}

#countdown{
    font-size: 7rem;
    white-space: nowrap;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 1em;
    margin-top: -2rem;
    
}

#art img{
    max-width: 90%;
    height: auto;
}

@media screen and (max-width: 1060px) {
   .logicTimer{
    display: grid;
    justify-content: center;
    align-items: center;
   }
   #startButton{
    display: grid;
    padding: 10px;
    width: 100%;
   }

  #countdown{
    font-size: 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
